# Ignore every node_modules folder
node_modules

# Error logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled data module
/data/lib

# Compiled portfolio
/portfolio/.cache
/portfolio/public
/portfolio/static

# Compiled resume
/resume/build

# Portfolio secrets
portfolio/.env

