# Ignore every node_modules folder
node_modules

# Error logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled products
/build
/data/lib
/portfolio/.next
/portfolio/out
/resume/build/mario_jimenez_resume.*

# Secrets
.env
.env.local

# Other
/portfolio/.vscode
