# Ignore every node_modules folder
node_modules

# Error logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled data module
/data/lib

# Compiled portfolio
/portfolio/public
/portfolio/.cache

# Compiled resume
/resume/build

# Portfolio secrets
portfolio/.env.development
portfolio/.env.production
